# USER CREDENTIALS
SENDER_EMAIL = <NotificationSend@example.com>
SENDER_EMAIL_PASSWORD = <EmailPassword>
SERVER = <Stmp address of email: e.g., smtp.gmail.com:587>

# RECIPIENT EMAIL-LIST
RECIPIENTS_EMAIL_LIST = recp1@xyz.com, recp2@mno.com

# OTHER CONSTANTS IF REQUIRED
